.no-js {
  .flex-grid article {
    opacity: 1;
  }

  .preload {
    display: none;
  }

  -webkit-touch-callout: none;
  -webkit-user-select: none;  
  -moz-user-select: none;   
  -ms-user-select: none;   
  -khtml-user-select: none;
  user-select: none;
}
